.contact {
  background-image: url(img/contact/bg_right.svg);
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 5vh;
  padding-left: 10%;
  header {
    width: 100%;
  }
  p {
    margin-top: 0px;
    font-size: 22px !important;
    font-weight: 400 !important;
  }
  @media screen and (min-width: 1200px) {
    background-image: url(img/contact/bg_left.svg), url(img/contact/bg_right.svg);
    background-position: left bottom, right bottom;;
    background-size: auto 80vh, auto 40vh;
  }
  h2 {
    margin-bottom: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    dd {
      font-size: 26px;
      float: left;
      padding: 0;
      margin: 0;
      &.address-description {
        width: 100% !important;
      }
      &.phone-description {
        width: 79% !important;
      }
      &.email-description {
        width: 84% !important;
      }
    }
    dt {
      background-repeat: no-repeat;
      background-size: 20px auto;
      background-position: left center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 26px;
      padding-left: 25px;
      display: block;
      float: left;
      margin: 0;

      &.phone {
        width: 21%;
        background-image: url(img/contact/icon_contact_phone.png);
      }
      &.email {
        width: 16%;
        background-image: url(img/contact/icon_contact_email.png);
      }
      &.address {
        width: 15%;
        background-image: url(img/contact/icon_contact_address.png);
      }
    }
  }
}
