.contact {
  background-image: url(img/contact/bg_right.svg);
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 15vh;
  @media screen and (min-width: 1200px) {
    background-image: url(img/contact/bg_left.svg), url(img/contact/bg_right.svg);
    background-position: left bottom, right bottom;;
    background-size: auto 80vh, auto 40vh;
  }
  h2 {
    margin-bottom: 0px;
  }
  h3 {
    margin-top: 0px;
  }
  dd {
    font-size: 26px;
    width: 100%;
  }
  dt {
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: left center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    padding-left: 25px;
    display: block;
    width: 200px;
    &.phone {
      background-image: url(img/contact/icon_contact_phone.png);
    }
    &.email {
      background-image: url(img/contact/icon_contact_email.png);
    }
    &.address {
      background-image: url(img/contact/icon_contact_address.png);
    }
  }
}
