$nav-height: 76px;
$turquesa: #009999;
$turquesa-intermediario: #1cb1b5;
$turquesa-claro: #66cccc;
$cinza-claro: #ccc;
$cinza-intermediario: #b3b3b3;
$lilas: #993399;
$azul: #0066cc;
$verde: #669900;
.top-navigation {
  position: fixed;
  width: 100%;
  height: $nav-height;
  z-index: 10;
  background-color: white;
  -webkit-box-shadow: 0px 10px 64px -9px rgba(191,191,191,1);
  -moz-box-shadow: 0px 10px 64px -9px rgba(191,191,191,1);
  box-shadow: 0px 10px 64px -9px rgba(191,191,191,1);
  img {
    display: block;
    position: absolute;
    left: 15px;
    height: 74px;
  }
  .menu {
    text-align: right;
    margin: 0;
    li {
      display: inline-block;
      line-height: $nav-height;
      margin-left: 40px;
      a {
        &.active {
          font-weight: bold;
          &.our-cases-nav {
            color: $turquesa-claro;
          }
          &.services-nav {
            color: $lilas;
          }
          &.methods-nav {
            color: $azul;
          }
          &.contact-nav {
            color: $verde;
          }
        }
      }
    }
  }
}
