.methods {
  background-image: url(img/backg60.svg);
  background-position: right top;
  background-repeat: no-repeat;
  height: 100vh;
  ul {
    margin: 0;
    padding: 0;
    position: relative;
    &:before, &:after {
      content: "";
      display: block;
      width: 1px;
      height: 300px;
      background-color: black;
      position: absolute;
      top: 10%;
    }
    &:before {
      left: 32%;
    }
    &:after {
      right: 32%;
    }
    li {
      display: block;
      float: left;
      width: 33%;
      padding: 0px 21px;
      text-align: center;
      &:first-of-type {
        padding-left: 0;
        padding-right: 63px;
      }
      &:last-of-type {
        padding-left: 63px;
        padding-right: 0;
      }
    }
  }
}
