$nice-blue: #0071bc;
.methods {
  display: block;
  text-align: left;
  background-image: url(img/methods/bg_right.svg);
  background-position: right top;
  background-size: auto 80vh;
  background-repeat: no-repeat;

  @media screen and (min-width: 1200px) {
    background-image: url(img/methods/bg_left.svg), url(img/methods/bg_right.svg);
    background-position: left top, right top;
    background-size: auto 80vh, auto 100vh;
  }

  .process {
    display: block;
    h2 {
      color: $nice-blue;
      font-size: 44px;
      -webkit-margin-before: 0.13em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      text-align: right;
    }
    aside {
      text-align: right;
      text-transform: uppercase;
    }
    img {
      text-align: right;;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    position: relative;
    &:before, &:after {
      content: "";
      display: block;
      width: 1px;
      height: 300px;
      background-color: $nice-blue;
      position: absolute;
      top: 10%;
      height: 25vh;
    }
    &:before {
      left: 32%;
    }
    &:after {
      right: 32%;
    }
    li {
      display: block;
      float: left;
      width: 33%;
      padding: 0px 21px;
      text-align: left;
      &:first-of-type {
        padding-left: 0;
        padding-right: 63px;
      }
      &:last-of-type {
        padding-left: 63px;
        padding-right: 0;
      }
    }
  }
}
