$turquesa: #009999;
.our-cases {
  background-image: url(img/our_cases/bg.svg);
  background-position: left top;
  background-repeat: no-repeat;
  height: 100vh;
  h2 {
    -webkit-margin-before: 0 !important;
  }
  .cases-list {
    aside {
      color: $turquesa;
      text-transform: uppercase;
      font-size: 23px;
      font-weight: 700;
    }
    li.case {
      display: none;
      &:first-of-type {
        display: block;
      }
    }
    .skills {
      li {
        display: inline;
        img {
          height: 40px;
        }
      }
    }
  }
}
