$azul: #0066cc;
$azul-opaco: #0969b7;
$cinza: #666;
$cinza-diferentao: #808080;
.processes {
  margin-top: 80px;
  h2 {
    color: $azul-opaco;
    font-size: 84px !important;
    font-weight: bold !important;
    margin-bottom: 0vh;
  }
  .blue-trace {
    height: 1.5px;
    background-color: $azul;
    width: 8%;
    margin-bottom: 36px;
  }

  .subtitle {
    position: fixed;
    right: 1%;
    top: 74px;

  }
  .sprint-detail {
    display: none;
    transition: visibility 0s, opacity 0.5s linear;
  }
  aside {
    text-transform: uppercase;
    font-size: 32px;
    color: $cinza-diferentao;
    margin-bottom: 22px;
  }
  p {
    color: $cinza;
    font-size: 16px;
  }
  section:last-of-type {
    ul {
      padding-bottom: 10vh;
    }
  }

  .process-container {
    padding-left: 8%;
    .process-detail-button {
      padding: 9px;
      background-color: $azul;
      height: 2vh;
      line-height: 5;
      text-decoration: none;
      font-weight: bold;
      color: white;
      margin-left: 32%;
    }
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        margin-right: 20%;
      }
    }
  }
  .button-to-top {
    height: 15vh;
    text-align: center;
    img {
      width: 100px;
    }
    img:hover {
      cursor: pointer;
      content: url(img/processes/button_to_top_hover.svg);
    }
  }
}
